
<!--{% if nav_item.children %}
  <li class="cMainLink"><span>{{ nav_item.title }}</span>

  </li>
{% else %}-->

    <li class="toctree-l1 {% if nav_item.active%}current{%endif%}">
        <a class="{% if nav_item.active%}current{%endif%}" href="{{ nav_item.url }}">{{ nav_item.title }}</a>
        {% if nav_item == page %}

        {% endif %}
    </li>
{% endif %}



<!--{% if nav_item.children %}
  <li class="cMainLink"><span>{{ nav_item.author }}</span>
      
  </li>
{% else %}

    <li class="toctree-l1 {% if nav_item.active%}current{%endif%}">
        <a class="{% if nav_item.active%}current{%endif%}" href="{{ nav_item.url }}">{{ nav_item.author }}</a>
        {% if nav_item == page %}

        {% endif %}
    </li>
{% endif %}-->