

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ page.description }}">
<meta name="author" content="WSO2, Inc.">
<meta name="keywords" content="{{ page.keywords }}" />
<link rel="shortcut icon" href="/img/favicon.ico">
<title>{{ page.title }}</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92163714-2"></script>
<!--FB-->
<meta property="og:type"               content="article" />
<meta property="og:title"              content="Ballerina - {{ page.title }}" />
<meta property="og:description"        content="{{ page.description }}" />
<meta property="og:image"              content="https://blog.ballerina.io/blog-images/{{ page.socialmediaimage }}" />
<!--TWITTER-->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@ballerinalang">
<meta name="twitter:creator" content="@ballerinalang">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="https://blog.ballerina.io/blog-images/{{ page.socialmediaimage }}" >
<meta name="twitter:text:description" content="{{ page.description }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:width" content="610">
<!--LINKED IN  -->
<meta property='og:title' content="{{ page.title }}"/>
<meta property='og:image' content="https://blog.ballerina.io/blog-images/{{ page.socialmediaimage }}"/>
<meta property='og:description' content="{{ page.description }}"/>
<script>
   window.dataLayer = window.dataLayer || [];
   function gtag() {
       dataLayer.push(arguments);
   }
   gtag('js', new Date());
   gtag('config', 'UA-92163714-2');
</script>
<!-- Google Tag Manager -->
<script>
   (function(w, d, s, l, i) {
       w[l] = w[l] || [];
       w[l].push({
           'gtm.start': new Date().getTime(),
           event: 'gtm.js'
       });
       var f = d.getElementsByTagName(s)[0],
           j = d.createElement(s),
           dl = l != 'dataLayer' ? '&l=' + l : '';
       j.async = true;
       j.src =
           'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
       f.parentNode.insertBefore(j, f);
   })(window, document, 'script', 'dataLayer', 'GTM-PSL2TX4');
</script>
<!-- End Google Tag Manager -->
<script src="/js/moment-2.22.0/moment.min.js"></script>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>









<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>



<link rel="stylesheet" href="/css/ballerina-blog.css" >
<link rel="stylesheet" href="/css/ballerina-io.css">




