<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 cBallerina-io-left-col cBallerinaFooterLinks">
    <ul>
        <li><a class="cBioFooterLink" href="https://ballerina.io/downloads/">DOWNLOAD</a></li>
        <li><a class="cBioFooterLink" href="https://ballerina.io/community/#get-involved">REPORT ISSUES</a></li>
        <li><a class="cBioFooterLink" href="https://github.com/ballerina-lang/ballerina/blob/master/LICENSE">CODE
                LICENSE</a></li>
        <li><a class="cBioFooterLink" href="https://ballerina.io/license-of-site/">SITE LICENSE</a></li>
        <li><a class="cBioFooterLink" href="https://ballerina.io/terms-of-service/">TERMS OF SERVICE</a></li>
        <li><a class="cBioFooterLink" href="https://ballerina.io/privacy-policy/">PRIVACY POLICY</a></li>
        <li><a class="cBioFooterLink" href="https://ballerina.io/cookie-policy/">COOKIE POLICY</a></li>
        <li><a class="cBioFooterLink" href="https://ballerina.io/trademark-usage-policy/">TRADEMARK USAGE POLICY</a></li>
    </ul>
</div>
<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 cBallerina-io-middle-col cBallerinaFooterSignUp">
    <a href="https://blog.ballerina.io/feed.xml" class="cRSS">Subscribe via RSS</a>
    <div class="cSocialmedia">
        <ul>
            <li><a class="cBioFooterLink" href="https://github.com/ballerina-platform" target="_blank"><img
                        src="https://ballerina.io/img/github.svg"></a></li>
            <li><a class="cBioFooterLink" href="https://twitter.com/ballerinalang" target="_blank"><img
                            src="https://ballerina.io/img/twitter.svg"></a></li>
            <li><a class="cBioFooterLink" href="https://ballerina.io/community/slack/"><img
                                src="https://ballerina.io/img/slack-2022.svg" style="width:17px; height:17px;"></a></li>
            <li><a class="cBioFooterLink" href="https://stackoverflow.com/questions/tagged/ballerina"
                    target="_blank"><img src="https://ballerina.io/img/stackoverflow.svg"></a></li>
            <li><a class="cBioFooterLink" href="https://www.youtube.com/c/Ballerinalang"><img style="width: 15px;"
                        src=" https://ballerina.io/img/youtube-icon.svg" /></a></li>
        </ul>
        <div class="pdframe"></div>
    </div>
    <div>
        <a class="subscribeButton" href="https://ballerina.io/community/#subscribe-to-the-newsletter">Subscribe to our
            newsletter</a>
    </div>
    <!-- <a class="cNLButton" href="/community/#subscribe-to-the-newsletter">Subscribe to the newsletter</a>  -->
</div>

<div class="col-xs-12 col-sm-10 col-md-6 col-lg-6 cBallerina-io-right-col">

    <div>
        <p>In the creation of Ballerina, we were inspired by so many technologies. Thank you to all that have come
            before us (and forgive us if we missed one): Java, Go, C, C++, D, Rust, Haskell, Kotlin, Dart, TypeScript,
            JavaScript, Python, Perl, Flow, Swift, Elm, RelaxNG, NPM, Crates, Maven, Gradle, Kubernetes, Docker, Envoy,
            Markdown, GitHub and WSO2.</p>
    </div>
</div>

</div>
