

<nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="https://ballerina.io/"><img src="/img/ballerina-logo.svg"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li> -->

            </ul>
            <ul class="navbar-nav">
                <li class="nav-item " id="learnli">
                    <a class="nav-link" href="https://play.ballerina.io/" target="_blank">Playground </a>
                </li>
                <li class="nav-item " id="learnli">
                    <a class="nav-link" href="https://ballerina.io/learn">Learn </a>
                </li>
                <li class="nav-item" id="Eventsli">
                    <a class="nav-link" href="https://ballerina.io/learn/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://central.ballerina.io/" target="_blank">Central </a>
                </li>
                <li class="nav-item" id="openli">
                    <a class="nav-link" href="https://ballerina.io/community">Community</a>
                </li>
                <li class="nav-item active" id="helpli">
                    <a class="nav-link" href="/">Blog</a>
                </li>
            </ul>
        </div>
    </nav>
