html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .main-wrapper {
  justify-content: space-between;
  min-height: 100vh;
} */

.wrap-page-content {
  /* margin-top: 74px; */
  padding-bottom: 30px;
  font-size: 16px;
  font-weight: 300;

  /* padding-left: 0.4rem !important;
  padding-right: 0.4rem !important; */
}

.llanding, .integration .bloglanding{
  padding-left: 0.4rem !important;
  padding-right: 0.4rem !important;
}

.blogDesc a {
  color: #20b6b0;
  text-decoration: none;
  font-weight: 400;
}

.blogDesc a:hover {
  color: #464646;
}

.blogs {
  list-style: none;
}

.blogInfo {
  padding: 20px 0;
  /* border-bottom: 0.3px solid #d9dadb; */
}

/* .newsletterInfo + .newsletterInfo,
#past-issues + .newsletterInfo {
  border-bottom: 0.3px solid #d9dadb;
} */

.blogInfo h4 {
  font-size: 1.3rem;
}

.blogInfo:last-of-type {
  border-bottom: none;
}

.blogDate {
  color: #585a5e !important;
  font-weight: 500 !important;
}

.blogAuthor {
  color: #585a5e !important;
  font-weight: 500 !important;
  font-style: italic;
}

.blogTitle {
  margin: 0px auto;
  line-height: 30px;
  padding-bottom: 10px;
}

.blogLink {
  color: #20b6b0;
  text-decoration: none;
}

.blogLink:hover {
  color: #57595d !important;
  text-decoration: none;
}

.dateAuth {
  font-style: italic;
}


.blogtile {
  display: flex;
  flex-flow: row wrap;
  margin-top: 20px !important;
}

.card-header, .card-footer {
  background: none !important;
  border: none !important;
}

.card-footer {
  font-style: italic;
  color: #57595d;
  font-weight: 450;
}

.backToBlogs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin: 16px 0; */
  text-decoration: none;
}

.backToBlogs * {
  margin: 0 16px;
  cursor: pointer;
}

.backToBlogs p {
  font-size: 1rem;
  font-weight: 400;
  color: #20b6b0;
}

.backToBlogs:hover svg {
  fill: #57595d;
}

.backToBlogs:hover p {
  font-weight: 500;
  color: #57595d;
}

.innerRow {
  padding-left: 0.4rem !important;
}

@media (min-width: 1200px) {
  .short {
    margin-bottom: 83px;
  }
}

@media (min-width: 1400px) {
  .short {
    margin-bottom: 473px;
  }
}

.contentRow {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.leftNav {
  padding-top: 35px;
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  padding-right: 0 !important;
  padding-left: 0.4 !important;
  font-size: 13px;
}

.mdContent {
  padding-top: 35px;
  padding-left: 1% !important;
  padding-right: 1% !important;
}

@media (min-width: 1400px) {
  .mdContent {
    padding-left: 4% !important;
  }
}

.learnMob {
  background-color: #20b6b0 !important;
  border: #20b6b0 !important;
  border-radius: 0px !important;
}

.learnMob:focus,
.learnMob:hover {
  border: none !important;
  box-shadow: none !important;
}

.topRow {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.topRow .gitIcon {
  text-align: right;
}

.mdContent h1 {
  color: #464646;
  font-size: 2rem;
}

.mdContent h2 {
  margin-top: 40px;
  /* margin-top: 20px; */
  color: #585a5e;
  font-size: 1.5rem;
  scroll-margin-top: 60px;
}

.mdContent h3 {
  margin-top: 40px;
  /* margin-top: 20px; */
  color: #585a5e;
  font-size: 1.3rem;
  scroll-margin-top: 60px;
}

.mdContent h4,
.mdContent h5,
.mdContent h6 {
  margin-top: 40px;
  /* margin-top: 20px; */
  color: #585a5e;
  scroll-margin-top: 60px;
}

.mdContent h4 {
  font-size: 1.2rem;
}

.mdContent h5 {
  font-size: 1.1rem;
}

.mdContent h6 {
  font-size: 1rem;
}

.mdContent p,
.mdContent li {
  font-size: 16px;
  color: #57595d;
  line-height: 24px;
  font-weight: 400;
  margin: 10px 0;
  line-height: 27px;
  letter-spacing: 0.4px;
}

.mdContent li pre {
  line-height: 18.375px !important;
} 

.mdContent a:hover {
  color: #464646 !important;
}

.mdContent a {
  color: #20b6b0 !important;
  text-decoration: none;
}

.mdContent ol + blockquote {
  padding: 10px 20px;
  margin: -10px 0 20px 30px !important;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

.mdContent blockquote {
  padding: 10px 20px !important;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

.mdTable {
  overflow-x: auto;
}

.mdContent table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.mdContent table td, 
.mdContent table th {
  border: 1px solid #e1e4e5 !important;
}

.mdContent table td {
  font-weight: 400;
}

.mdContent table th, 
.mdContent table td {
  padding: 10px;
}

.mdContent table thead tr,
.cCodeTable tr th {
  background-color: #464646;
  /* font-weight: 400; */
  color: #ffffff;
}

.mdContent li ul li {
  list-style: disc;
}

:not(pre) > code {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
  background: #f5f5f5;
  color: inherit;
}

b,
strong {
  font-weight: 700 !important;
}

pre.shiki,
pre.default {
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #eeeeee !important;
}

.mdContent img {
  width: -moz-available;         
  width: -webkit-fill-available;  
  width: fill-available;
}

.contentNav {
  display: flex;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eeeeee;
}

.prevLink,
.nextLink {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.nextLink {
  justify-content: end;
}

.prevLink a,
.nextLink a {
  color: #20b6b0;
}

.prevLink:hover,
.nextLink:hover {
  color: #57595d;
  fill: #57595d;
}

/* .section {
  display: flex;
  align-items: center;
} */

.mdButton {
  visibility: hidden;
  margin-left: -30px;
  cursor: pointer;
}

h1.section:hover .mdButton,
h2.section:hover .mdButton,
h3.section:hover .mdButton,
h4.section:hover .mdButton,
h5.section:hover .mdButton,
h6.section:hover .mdButton {
  visibility: visible;
}

h1.section code,
h2.section code,
h3.section code,
h4.section code,
h5.section code,
h6.section code {
  margin: 0 8px;
}

/* .prevLink::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2320b6b0'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
} */

/* .prevLink::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2320b6b0'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
} */

.pageToc {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  padding-right: 0.4rem !important;
  padding-left: 0 !important;
  padding-top: 25px;
  font-size: 13px;
  font-weight: 400;
}

.pageToc h6 {
  color: #57595d;
}

.pageToc::-webkit-scrollbar {
  display: none;
}

.pageToc .title-level3 {
  padding-left: 25px !important;
}

.pageToc .title-level4 {
  padding-left: 45px !important;
}

.pageToc .title-level5 {
  padding-left: 65px !important;
}

.pageToc .title-level6 {
  padding-left: 85px !important;
}

.markdown-navigation {
  border-left: 1px solid #20b6b0;
}

.markdown-navigation .title-anchor {
  cursor: pointer;
  padding: 5px 10px;
}

.markdown-navigation .title-anchor:hover {
  color: #20b6b0;
}

.markdown-navigation .active {
  color: #20b6b0;
  border-left: 3px solid #20b6b0;
}

.mdContent iframe {
  width: -webkit-fill-available;
}

.home {
  background-color: #494949;
}

.home .wrap-page-content {
  padding-bottom: 0;
}

ul.cInlinelinklist {
  margin: 20px 0 0 0;
  padding: 0;
}

ul.cInlinelinklist li {
  list-style: none !important;
  padding-left: 40px;
  background-image: url(/images/toc-bg.svg);
  background-repeat: no-repeat;
  background-position: left center;
  margin: 0 0 10px 0;
  margin-left: 0 !important;
  width: 100%;
  display: block;
  float: none;
}

a.cGreenLinkArrow {
  color: #20b6b0 !important;
}
a.cGreenLinkArrow:hover {
  color: #000 !important;
}

.pageContentRow {
  margin-bottom: 45px;
}

.pageContentRow h2 {
  color: #585a5e;
  font-size: 1.5rem;
  scroll-margin-top: 60px;
}

.community .pageContentRow h2 {
  color: #585a5e;
  /* font-size: 1.5rem; */
  scroll-margin-top: 120px;
  font-size: 2rem;
}

.pageHeader h1 {
  padding-top: 35px;
  color: #464646;
  /* color: #585a5e; */
  font-weight: 500;
  /* font-size: 2rem; */
  font-size: 3rem;
}

.DocSearch-Button-Placeholder {
  font-size: 1rem;
  font-weight: 300;
  padding: 0 12px 0 14px;
  letter-spacing: 0.2px;
}

@media (max-width: 750px){
  .DocSearch-Modal {
    margin: 60px auto auto;
  }
}

.DocSearch-Container {
  z-index: 1021 !important;
}

.home .highlight {
  font-size: 13px !important;
}

.home pre.shiki {
  padding: 0;
  border: none;
  border-radius: 0;
  margin-top: 0;
  background-color: #f5f5f5 !important;
}

.home pre.shiki code,
.home pre.shiki span {
  line-height: 18px;
}

@media (min-width: 992px) {
  .algolia-search-cont {
    margin-left: 0.5rem;
  }
}



/*------ custom shiki theme for home page examples -------*/
:root {
  --shiki-color-text: #000;
  --shiki-color-background: #333333;
  --shiki-token-constant: #07a;
  --shiki-token-string: #770000;
  --shiki-token-comment: slategray;
  --shiki-token-keyword: #07a;
  --shiki-token-parameter: #aa0000;
  --shiki-token-function: #000;
  --shiki-token-string-expression: #690;
  --shiki-token-punctuation: #000;
  --shiki-token-link: #ee0000;
}

